// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-close{
	position: fixed;
	top: 5px;
	right: 5px;
}

.form-container {
	height:100%;
	width:75%;
	position:relative;
	color: black;
	text-align: center;
}


.session-form{
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}

.modal-header {
	position: absolute;
	margin: 0 auto;
  right: 50%;
  transform: translateX(50%);
  font-size: 25px;
  top: 15%;
}

.form-input {
	-webkit-appearance: none;
  display: inline-block;
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  width: 65%;
  font: inherit;
  vertical-align: baseline;
  background: transparent;
  color: inherit;
}

.form-input-container {
	padding: 15px 0 0 0;
}

.form-input-container .form-input {
  font-size: 16px;
  font-weight: 200;
  color: gray;
  border-bottom: 1px solid #d3d3d3;

}

.form-input-container input:focus {
  color: black;
  border-color: black;
}
