// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.modal-close-button-container {
	position: absolute;
	top: 5px;
	right: 5px;
	z-index: 2;
	}

.modal-close{
	position: fixed;
	top: 5px;
	right: 5px;
}

.form-container {
	height:100%;
	width:100%;
	position:relative;
	color: black;
}

.form-spacer {
	padding: 10px 0 0 0;
}

.form-button-container {
	padding: 5px;
	margin-top: 10px;
}


.session-form{
  position: relative;
  top: 60%;
  transform: translateY(-50%);
  bottom: 0px;
}

.modal-header {
	position: absolute;
	margin: 0 auto;
  right: 50%;
  transform: translateX(50%);
  font-size: 25px;
  top: 15%;
}


.form-input-container {
	padding: 15px 0 0 0;
}



