// Place all the styles related to the Tags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tag-item {
	padding: 5px 0px 5px 10px;
	display: inline-block;
	font-size: 12px;
	color: #62737C;
	cursor: default;
}

.tag-items {
	display: inline-block;
}

