.modal-form-styling {
	position: relative;
	height: 92%;
	width: 92%;
	top: 50%;
	transform: translateY(-50%);
	background-color: #607D8B;
	border-radius: 5px;
	color: white;
	overflow-y: auto;
}

.upload-form {
	position: relative;
	vertical-align: middle;
	padding: 30px 0 30px 0;

	.tag-item {
		color: white !important;

		.material-icons {
			color: white !important;
		}
	}
}

.submit-button-container {
	padding-top: 10px;
}

.upload-form .form-input {
	width: 50%;
	color: #F4F4F4;
	border-bottom: 1px solid #E8E8E8;
}

.upload-form input:focus {
  color: white;
  border-color: white;
} 

.photo-button-form {
	display: inline-block;
}

#select-header {
	padding: 100px 0 40px 0;
}




